<div class="wrapper">
    <div class="my-teams">
        <app-my-teams-header (teamChoosed)="getTeamData($event)"></app-my-teams-header>

        <div class="row my-teams-content mt-4" *ngIf="teamId">
            <app-loader type="normal" *ngIf="newsLoading"></app-loader>

            <div class="col-sm-12">
                <div class="row flex-wrap">

                    <ng-container *ngFor="let teamNewsItem of teamNews?.data; let i = index">
                        <div class="col-sm-12 my-teams-content-news-item">
                            <app-main-news-item [newsItem]="teamNewsItem"></app-main-news-item>
                        </div>
                    </ng-container>

                    <div class="col-sm-12">
                        <a class="see-all-news" [routerLink]="['/club/',teamId, teamName | slugify,  1]">
                            <div class="w-100 text-center"> ყველა სიახლის ნახვა </div>
                            <i class="fa fa-chevron-right see-all-news-icon"></i>
                        </a>
                    </div>

                </div>
                <div class="row">

                    <div class="col-12">
                        <div class="w-100 regular-container my-team-matches">
                            <app-loader type="small" *ngIf="matchesLoading"></app-loader>
                            <app-my-teams-matches [matches]="teamMatches"></app-my-teams-matches>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="standings regular-container">
                    <div class="standings-title">
                        ცხრილი
                    </div>
                    <div class="standings-content">
                        <div class="w-100 h-100 scroller">
                            <app-loader type="small" *ngIf="standingsLoading"></app-loader>
                            <app-tables *ngIf="teamStandings" type="small" [standings]="teamStandings"></app-tables>
                            <div class="text-center" *ngIf="!teamStandings && !standingsLoading">
                                ჩანაწერები ვერ მოიძებნა
                            </div>
                        </div>
                    </div>
                </div>

                <div class="statistics regular-container">
                    <div class="statistics-title">
                        სტატისტიკები
                    </div>
                    <div class="statistics-content">
                        <app-loader type="small" *ngIf="statsLoading"></app-loader>
                        <app-statistics *ngIf="teamStats" type="small" [statistics]="teamStats">
                        </app-statistics>
                        <div class="text-center" *ngIf="!teamStats && !statsLoading">
                            ჩანაწერები ვერ მოიძებნა
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>