<div class="sub-menu regular-container d-flex align-items-center no-gutters" [class.collapsed]="collapsed">
    <!-- <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/championship/1326/european-championship/1']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">
            <span>ევრო 2020</span>
        </a>
    </div> -->
    <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/category/1/akhali-ambebi/1']" [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }">
            <span>სიახლეები</span>
        </a>
    </div>
    <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/championship/319/crystalbet-erovnuli-liga/1']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <span>ქართული</span>
        </a>
    </div>
    <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/championship/8/premier-league/1']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <span>ინგლისი</span>
        </a>
    </div>
    <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/championship/564/la-liga/1']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <span>ესპანეთი</span>
        </a>
    </div>
    <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/championship/384/serie-a/1']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <span>იტალია</span>
        </a>
    </div>
    <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/championship/82/bundesliga/1']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <span>გერმანია</span>
        </a>
    </div>
    <!-- <div class="col-auto px-2">
        <a matRipple [matRippleColor]="'rgba(255, 255, 255, 0.1)'" class="sub-menu-item d-flex align-items-center"
            [routerLink]="['/my-teams']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
            <div class="icon teams"></div>
            <span>ჩემი გუნდი</span>
        </a>
    </div> -->
</div>