<div class="livescores-header d-flex align-items-end flex-wrap">
    <div class="col-md-8 col-12 order-md-1 order-2 h-100">
        <div class="livescores-tabs d-flex align-items-end">
            <div class="livescores-tab" [class.active]="tabIndex == 0" (click)="changeTab(0)">
                მატჩ ცენტრი
            </div>
            <div class="livescores-tab" [class.active]="tabIndex == 1" (click)="changeTab(1)">
                LIVE NOW
            </div>
            <div class="livescores-tab" [class.active]="tabIndex == 2" (click)="changeTab(2)">
                ფავორიტები
                <span class="count">{{favCount}}</span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-12 order-md-2 order-1 text-right pb-2">
        <app-livescore-league-select #leagueSelect (changed)="changeLeague($event)"></app-livescore-league-select>
    </div>
</div>