<div class="home-main-news row flex-wrap justify-content-center">
    <div *ngIf="loading" style="height: 300px;">
        <app-loader></app-loader>
    </div>

    <ng-container *ngFor="let mainNewsItem of mainNews; let i = index">
        <ng-container *ngIf="!mainNewsItem.match_id">
            <div *ngIf="i == 0" class="col-8">
                <a [routerLink]="['/news/', mainNewsItem.id, mainNewsItem.slug | slugify]">
                    <div class="home-main-news-item home-main-news-item-featured regular-container">
                        <div class="home-main-news-item-image-wrapper">
                            <img class="home-main-news-item-image" [alt]="mainNewsItem?.title | strip"
                                [src]="imageLinkGenerator(i, mainNewsItem?.main_gallery_item?.filename)">
                            <div class="play-icon" *ngIf="mainNewsItem?.main_video"><i class="fa fa-play"></i></div>
                        </div>
                        <h2 class="home-main-news-item-title regular-container">
                            {{mainNewsItem?.title | strip}}
                        </h2>
                        <div class="home-main-news-item-date">
                            {{mainNewsItem.publish_date}}
                        </div>
                    </div>
                </a>
            </div>
            <div *ngIf="i > 0" class="col-4">
                <a [routerLink]="['/news/', mainNewsItem.id, mainNewsItem.slug | slugify]">
                    <div class="home-main-news-item regular-container">
                        <div class="home-main-news-item-image-wrapper">
                            <img class="home-main-news-item-image" [alt]="mainNewsItem?.title | strip"
                                [src]="imageLinkGenerator(i, mainNewsItem?.main_gallery_item?.filename)">
                            <div class="play-icon" *ngIf="mainNewsItem?.main_video"><i class="fa fa-play"></i></div>
                        </div>
                        <h2 class="home-main-news-item-title">
                            {{mainNewsItem?.title | strip}}
                        </h2>
                        <div class="home-main-news-item-date">
                            {{mainNewsItem.publish_date | toDate}}
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>

        <ng-container *ngIf="mainNewsItem.match_id">
            <div *ngIf="i == 0" class="col-8">
                <a [routerLink]="['/match/', mainNewsItem.match_id]">
                    <div
                        class="home-main-news-item home-main-news-match-item home-main-news-item-featured regular-container">
                        <div class="home-main-news-item-image-wrapper">
                            <img class="home-main-news-item-image" [alt]="mainNewsItem?.title | strip"
                                [src]="imageLinkGenerator(i, mainNewsItem?.main_gallery_item?.filename)">
                            <div class="play-icon" *ngIf="mainNewsItem?.main_video"><i class="fa fa-play"></i></div>
                        </div>
                        <div class="home-main-news-item-title regular-container d-flex align-items-center">
                            <div class="col-xxl-6 col">
                                {{mainNewsItem?.title | strip}}
                            </div>
                            <div class="col-xxl-6 col p-2">
                                <div class="main-news-item-match no-gutters">
                                    <div class="team col-4">
                                        <img class="team-image" [alt]="mainNewsItem.matche.localteam_mini.name"
                                            [src]="imageLinkGeneratorTeamBig(mainNewsItem.matche.localteam_mini.team_id)" />
                                        <div class="team-name">{{ mainNewsItem.matche.localteam_mini.name }}
                                        </div>
                                    </div>
                                    <div class="score col-4">
                                        <div class="report no-gutters">
                                            <div class="data col-6">{{ mainNewsItem.matche.localteam_score }}</div>
                                            <div class="data col-6">{{ mainNewsItem.matche.visitorteam_score }}
                                            </div>
                                        </div>
                                        <div class="time text-center">
                                            <app-match-status [match]="mainNewsItem.matche"></app-match-status>
                                        </div>
                                    </div>
                                    <div class="team col-4">
                                        <img class="team-image" [alt]="mainNewsItem.matche.visitorteam_mini.name"
                                            [src]="imageLinkGeneratorTeamBig(mainNewsItem.matche.visitorteam_mini.team_id)" />
                                        <div class="team-name">{{ mainNewsItem.matche.visitorteam_mini.name }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            </div>
            <div *ngIf="i > 0" class="col-4">
                <a [routerLink]="['/match/', mainNewsItem.match_id]">
                    <div class="home-main-news-item home-main-news-match-item regular-container">
                        <div class="home-main-news-item-image-wrapper">
                            <img class="home-main-news-item-image" [alt]="mainNewsItem?.title | strip"
                                [src]="imageLinkGenerator(i, mainNewsItem?.main_gallery_item?.filename)">
                            <div class="play-icon" *ngIf="mainNewsItem?.main_video"><i class="fa fa-play"></i></div>

                            <div class="main-news-item-match no-gutters">
                                <div class="team col-4">
                                    <img class="team-image" [alt]="mainNewsItem.matche.localteam_mini.name"
                                        [src]="imageLinkGeneratorTeamBig(mainNewsItem.matche.localteam_mini.team_id)" />
                                    <div class="team-name">{{ mainNewsItem.matche.localteam_mini.name }}</div>
                                </div>
                                <div class="score col-4">
                                    <div class="report no-gutters">
                                        <div class="data col-6">{{ mainNewsItem.matche.localteam_score }}</div>
                                        <div class="data col-6">{{ mainNewsItem.matche.visitorteam_score }}</div>
                                    </div>
                                    <div class="time text-center">
                                        <app-match-status [match]="mainNewsItem.matche"></app-match-status>
                                    </div>
                                </div>
                                <div class="team col-4">
                                    <img class="team-image" [alt]="mainNewsItem.matche.visitorteam_mini.name"
                                        [src]="imageLinkGeneratorTeamBig(mainNewsItem.matche.visitorteam_mini.team_id)" />
                                    <div class="team-name">{{ mainNewsItem.matche.visitorteam_mini.name }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="home-main-news-item-title">
                            {{mainNewsItem?.title | strip}}
                        </div>
                        <div class="home-main-news-item-date">
                            {{mainNewsItem.publish_date | toDate}}
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>

    </ng-container>
</div>