.main-news {
    width: 100%;

    .main-news-items {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .loader {
        position: relative;
        height: 40px;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            list-style: none;
            margin-left: 3px;
            margin-right: 3px;

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }

            a,
            span {
                position: relative;
                float: left;
                width: auto;
                height: 45px;
                border-radius: 11px !important;
                border: none;
                background: #fff;
                text-align: center;
                line-height: 42px;
                font-size: 15px;
                color: #2f3031;
                font-family: "HNeue55tdRoman";
                transition: .3s;
                padding: 0 19px;
                cursor: pointer;
                font-feature-settings: "case"on;
                text-decoration: none;
            }
        }

        &.disabled>a,
        &.disabled>a:focus,
        &.disabled>a:hover,
        &.disabled>span,
        &.disabled>span:focus,
        &.disabled>span:hover {
            color: #777;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }

        &>.active>a,
        &>.active>a:focus,
        &>.active>a:hover,
        &>.active>span,
        &>.active>span:focus,
        &>.active>span:hover,
        &>li>a:hover,
        &>li>span:hover {
            background: #f93039;
            color: #fff;
        }
    }
}