.match-article {
    position: relative;
    padding: 30px;
    width: 100%;
    margin-bottom: 30px;
    min-height: 400px;


    .match-article-title {
        font-family: "HNeue75tdBd";
        color: #435361;
        font-size: 20px;
    }

    .match-article-image,
    .match-article-video {
        position: relative;
        max-width: 100%;
        display: inherit;
        margin: 30px auto 10px auto;
    }

    .match-article-description {
        font-size: 15px;
        margin-top: 30px;
        font-family: "HNeue55tdRoman";
    }

    .video-player-wrapper {
        text-align: center;
        padding-top: 10px;
    }
}