.bottom-icon{
  color: #989898;
  font-size: 19px;
  cursor: pointer;
}

.icon-value{
  font-family: "HNeue55tdRoman";
  margin-left: 5px;
  font-size: 13px;
}

.like-active{
  color: #717171 !important;
}
