.today-matches-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

.home-slider-wrapper{
    width: 100%;
}

.home-tabs {
    width: 100%;
    height: 60px;
    border-radius: 15px;
    background-color: #fff;
    color: #B7B7B7;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 10px;

    .home-tab {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "HNeue55tdRoman";
        font-feature-settings: "case"on;
        font-size: 14px;

        &.active {
            color: #13171E;
            box-shadow: inset 0 -3px 0 0 #E53C48;
        }
    }
}

.main-news {
    width: 100%;
}