.matches {
    padding: 8px 17px 15px;
    width: 100%;
    border: 1px solid #f4f4f4;
    border-radius: 15px;
    background: #f4f4f4;
    margin-bottom: 0;
    cursor: pointer;
    transition: .3s;
}