.statistics-page {
    width: 100%;

    .statistics-page-header {
        width: 100%;
        color: #2f3031;
        font-family: "HNeue55tdRoman";
        font-feature-settings: "case"on;
        font-size: 18px;
        flex-direction: column;
        height: auto;
        padding: 15px;

        .statistics-page-select {
            width: 100%;
            padding: 15px;
        }
    }

    .statistics-page-tabs {
        width: 100%;
        height: 50px;
        padding: 0 35px;
        border-top: 1px solid #f4f4f4;

        .statistics-page-tab {
            height: 100%;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 15px;
            display: inline-flex;
            font-size: 14px;
            font-family: "HNeue55tdRoman";
            color: #949698;
            margin: 0 5px;

            &:hover,
            &.active {
                color: #000;
                border-bottom: 2px solid #e53c48;
            }
        }
    }

    .statistics-page-content {
        position: relative;
        min-height: 300px;

        .matches-header {
            display: flex;
            padding: 15px 0;
            color: #2f3031;

            .matches-title {
                font-family: "HNeue75tdBd";
                font-size: 17px;
                font-feature-settings: "case"on;
            }

            .matches-slide-control {
                .icon {
                    font-size: 24px;
                    color: #c7c7c7;

                    &:first-child {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
}