.player-group {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;

    .player-group-header {
        padding: 25px 25px 0;
        color: #2f3031;
        font-family: "HNeue75tdBd";
        font-size: 17px;
        font-feature-settings: "case"on;
    }

    .player-group-content {
        display: inline-block;
        padding: 25px 25px 15px;
        width: 100%;
    }
}