.compare {
    .btn-choose-players {
        color: #000;
        background: #F4F4F4;
        border: 1px solid #DBDBDB;
        border-radius: 30px;
        width: 100%;
        font-weight: bold;
        padding: 12px;
    }
}