@font-face {
    font-family: 'HNeue75tdBd';
    src: url('../fonts/HelveticaNeueWorld-75Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueWorld-75Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueWorld-75Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeueWorld-75Bold.svg#HelveticaNeueWorld-75Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HNeue55tdRoman';
    src: url('../fonts/HelveticaNeueWorld-55Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueWorld-55Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueWorld-55Roman.ttf') format('truetype'),
        url('../fonts/HelveticaNeueWorld-55Roman.svg#HelveticaNeueWorld-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'bpg_algeti';
//     src: url('../fonts/BPG_Algeti_2018.ttf') format('truetype');
// }